[submodule "emacs/config"]
	path = emacs/config
	url = git@github.com:deloachcd/emacs.git
[submodule "emacs/chemacs2"]
	path = emacs/chemacs2
	url = https://github.com/plexus/chemacs2.git
[submodule "emacs/doom-emacs"]
	path = emacs/doom-emacs
	url = https://github.com/hlissner/doom-emacs.git
