*.swp
fake_deployments/*

emacs/config/*~
emacs/config/elpa/
emacs/config/auto-save-list/
emacs/config/projectile-bookmarks*
emacs/config/projectile.cache
emacs/config/**/#*#
emacs/config/eshell/*
emacs/config/recentf
emacs/config/backups/
emacs/config/org-roam.db
emacs/config/custom.el
emacs/config/.lsp-session-v1
emacs/config/.org-id-locations
emacs/config/bookmarks
emacs/config/transient

fonts/bundle/**/.uuid

neovim/config/.netrwhist

shttr/shtwrld/pkgs/*/repo
