[Desktop Entry]
Name=Unnamed Program
GenericName=Type of Program (ex. Text Editor)
Comment=Brief description of the program
Exec=$HOME/.local/bin/program
Icon=shttr
Terminal=false
Type=Application
MimeType=;
Categories=;
